{% extends "menu.html" %}
{% set active_page = "index" %}
{% block content %}

        <div class="wrapper wrapper-content animated fadeIn">
                   
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="widget white-bg p-lg ">
                            <div class="small pull-left col-md-3 m-l-lg m-t-xs">
                                <strong>System Toplogy</strong> 
                            </div>
                            <div class="small pull-right col-md-3 m-t-xs text-right">
                                <strong>Chart supported by cytoscape.js</strong>
                            </div>
                            <div id="canvas" class="m_status flot-chart-content" style="visibility:visible;">
                                <div id="cy" class="flot-chart-content" >
                                </div></div>
                            <div class="m-loading sk-spinner sk-spinner-wandering-cubes" style="top:-100px;z-index:1000;">
                             <div class="sk-cube1"></div>
                             <div class="sk-cube2"></div>
                             </div>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center  p-xxs">
                        
                        <!--<div class="row m-t-lg">-->
                       <div class="widget gray-bg ">
                              <small>
                                Nodes Managed
                            </small>
                             <h1 id="node" class="sitestatus m-b-xs" style="visibility:visible;"></h1>
                            <div class="site-loading sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            <div id="sparkline2" class="m-b-sm"></div>
                                   <div class="row">
                                       <div class="col-xs-4">
                                           <small class="stats-label">System Capacity</small>
                                           <h4 id="sc" class="sitestatus" style="visibility:visible;"></h4>
                                            <!-- <div class="site-loading sk-spinner sk-spinner-rotating-plane"></div>-->
                                            <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                       </div>

                                       <div class="col-xs-4">
                                           <small class="stats-label">System Utilization</small>
                                           <h4 id="su" class="sitestatus"  style="visibility:visible;"></h4>
                                                <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                       </div>
                                       <div class="col-xs-4">
                                           <small class="stats-label">Users</small>
                                           <h4 id="user" class="sitestatus"  style="visibility:visible;"></h4>
                                             <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                       </div>
                                   </div>
                            </div>

                        <div class="widget gray-bg ">
                            <small>
                                Master Managed
                            </small>
                            <h1 id="mm" class="sitestatus m-b-xs" style="visibility:visible;"></h1>
                            <!--<div class="site-loading sk-spinner sk-spinner-rotating-plane"></div>-->
                            <div class="site-loading sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            <div id="sparkline1" class="m-b-sm"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Task Queue</small>
                                    <h4 id="task" class="sitestatus"  style="visibility:visible;"></h4>
                                         <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                </div>

                                <div class="col-xs-4">
                                    <small class="stats-label">Service Level</small>
                                    <h4 id="sl" class="sitestatus"  style="visibility:visible;"></h4>
                                     <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">System Uptime</small>
                                    <h4 id="up" class="sitestatus"  style="visibility:visible;"></h4>
                                        <div class="site-loading  sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                </div>
                            </div>
                        

                        </div>

                            
                    </div>



                </div>
           
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div>
                                        <span class="pull-right text-right">
                                        <small>Average Performance for current <strong>selected node</strong></small>
                                            <br/>
                                        </span>
                                    <h3 class="font-bold no-margins">
                                        24 Hour CPU/MEM Utilization 
                                    </h3>
                                    <small>Monitor framework supported by Sensu</small>
                                </div>

                                <div class="m-t-sm">

                                    <div class="row">
                                        
                                        <div class="m_status lot-chart-content" style="visibility:visible;">
                                            <div>
                                            <canvas id="lineChart" height="114"></canvas>
                                            </div>
                                        </div>
                                         <div class="m-loading sk-spinner sk-spinner-wandering-cubes " style="top:-50px;">
                                          <div class="sk-cube1"></div>
                                          <div class="sk-cube2"></div>
                                          </div>
                                        
                                    </div>

                                </div>

                                <div class="m-t-md">
                                    <small id="monitor_date" class="pull-right">
                                        <i class="fa fa-clock-o"> </i>
                                        Last Update: 16.07.2015
                                    </small>
                                    <small>
                                        <strong id="master">Master Name</strong>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <!--<span class="label label-warning pull-right">New Warning</span>-->
                                <h5>System activity</h5>
                            </div>
                            
                            
                            <div class="ibox-content" id="hacker-list">
                               <!-- <ul class="sortable-list connectList agile-list ui-sortable" id="todo">-->
                               <ul class="list agile-list connectList ">
                               <!--<li class="warning-element" id="task1">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                                <li class="success-element" id="task2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 05.04.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task3">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task4">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task5">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task6">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="agile_board.html#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>-->
                            </ul>
                            <ul class="pagination"></ul>
                            </div>
                            
                        </div>
                    </div>

                </div>  
                
                {% include "datatable.html" %}

               
          

        </div>

       
 




    <script>

        $(document).ready(function() {

           socket.on('salt_task_warn',function(msg){
            salt_task_warn(msg);
           });
            
           socket.on('m_status', function(msg) {
               // console.log('m_status:' + msg);
                setTimeout(update_m_status(msg), 100);
               // update_m_status(msg);

            }); 

            socket.on('nodelist', function(msg) {
               //console.log('nodelist:' + msg);
               update_nodelist(msg);
               //update_nodelist(msg);

            });  

            socket.on('salt_task_list', function(msg) {
                //console.log('salt_task_list:' + msg);
                update_salt_task_list(msg);
            }); 

            socket.on('salt_jid',function(msg){
                console.log(msg);
                var jid_title = document.getElementsByClassName('return-jid');
                var jid_content = document.getElementById('return-content');
                var data = JSON.parse(msg);
                //console.log(typeof data.msg);
                if (typeof data.msg == "string") {
                    for( var i = 0; i < jid_title.length; i++) { jid_title[i].innerHTML = data.jid + ' : ' +data.msg}; 
                };
                //console.log(typeof data.return);
                if (typeof data.return == "object") {
                    hideloading('return-loading');
                    jid_content.appendChild(prettyPrint(data.return,{
                        expanded: false, // Expanded view (boolean) (default: true),
                        maxDepth: 5 // Max member depth (when displaying objects) (default: 3)
                    }));
                    // for( var i = 0; i < jid_content.length; i++) { jid_content[i].innerHTML = '<pre>' + syntaxHighlight(JSON.stringify(data.return,undefined, 2)) + '</pre>'}; 
                };

            });

           socket.on('hackerlist',function(msg){
            //console.log('hackerList:'+msg);
                setTimeout(update_hacklist(msg), 600);
            //update_hacklist(msg);
            });


        /// socket redraw function
        function update_nodelist(m){
            var data = JSON.parse(m);
            //console.log(data[1]);
            
            showdata('nodelist');
            hideloading('node-loading');
            //var i = data.length;
            var j = Object.keys(data).length;
            function update_node_later(data) {
                j--;
                //console.log(j);
                var row_data = JSON.parse(data[j]);
                //console.log(row_data);
                var row = '<tr>';
                row += '<td>' + row_data.Name + '</td>';
                row += '<td>' + row_data.Tag.join('<p></p>') + '</td>';
                row += '<td>' + row_data.Type + '</td>';
                row += '<td>' + row_data.Status + '</td>';
                row += '<td>' + row_data.Information + '</td>';
                row += '<td>' + row_data.Note + '</td>';
                row += '<td>' + row_data.Operator + '</td>';
                row += '<td>' + row_data.Date + '</td>';
                row += '<td>' + row_data.Task.join('<p></p>') + '</td>';
                row += '</tr>';
                footable.appendRow(row);
                if (j > 1) {
                     setTimeout(update_node_later(data), 0);
                 }
             }
             update_node_later(data);
            /*
            for( var i = data.length; i--;) {
                //console.log(data[i]);
                var row = '<tr>';
                row += '<td>' + data[i].Name + '</td>';
                row += '<td>' + data[i].Tag.join('<p></p>') + '</td>';
                row += '<td>' + data[i].Type + '</td>';
                row += '<td>' + data[i].Status + '</td>';
                row += '<td>' + data[i].Information + '</td>';
                row += '<td>' + data[i].Note + '</td>';
                row += '<td>' + data[i].Operator + '</td>';
                row += '<td>' + data[i].Date + '</td>';
                row += '<td>' + data[i].Task.join('<p></p>') + '</td>';
                row += '</tr>';
                footable.appendRow(row);
                    }
            */
            footable.redraw();
        };
        console.log( document.getElementById('menu-list'));
        function salt_task_warn(m){
            //toastr.clear();
            
            data = JSON.parse(m);            
            console.log(data);
            //console.log(window.menuList.get("jid","222333"));
            $.notify({
                    icon: "fa fa-toggle-right",
                    animate: {
                        enter: 'animated fadeInDown',
                        exit: 'animated fadeOutUp'
                    },
                    offset: 20,
                    spacing: 10,
                    z_index: 1031,
                    delay: 5000,
                    timer: 1000,
                    mouse_over: null,
                    placement: {
                        from: "top",
                        align: "center"
                    },
                    message: "<p>"+data.jid+"</p>"+"<p>" + data.tgt+"</p><p>" +data.func+"</p><p>"+data.msg+"</p>"
                },{
                    // settings
                    type: data.type
                });
                        };

        function update_salt_task_list(m){

            var data = JSON.parse(m);
            var tl_data = data.tl;
            var el_data = data.el;
            //var i = Object.keys(tl_data).length ;
            var i = 100;
            var j = Object.keys(el_data).length + 1;
            //console.log(el_data);
            //console.log(Object.keys(el_data).length);
            cleardata('salt_task_list');
            function update_salt_exec_Later(data) {
                for(key in el_data){
　　　　　　　　　      　var row_data = JSON.parse(el_data[key]);
                        var row = '<tr class="' + row_data.text + '">';
                        row += '<td>' + row_data.fun + '</td>';
                        row += '<td>' + row_data.jid + '</td>';
                        row += '<td>' + row_data.tgt + '</td>';
                        row += '<td>' + row_data.status + '</td>';
                        var json_string = '<button onclick="emit_salt_jid(\''+ row_data.jid + '\')"  type="button" class="btn  btn-warning btn-rounded btn-xs" data-toggle="modal" data-jid="'+ row_data.      jid  +'" data-target="#myModal5">Click to check return result</button>';
                        row += '<td>' + json_string + '</td>';
                        row += '<td>' + row_data.start + '</td>';
                        row += '<td>' + row_data.end + '</td>';
                        row += '<td>' + row_data.arg + '</td>';
                        row += '<td>' + row_data.kwargs + '</td>';
                        row += '</tr>';
                //console.log(row);
                footable_task.appendRow(row);
                }
            }
             
            function update_salt_task_Later(data) {
                //console.log(i);
                var row_data = JSON.parse(tl_data[i]);
                //console.log(row_data);
                var row = '<tr class="' + row_data.text + '">';
                row += '<td>' + row_data.fun + '</td>';
                row += '<td>' + row_data.jid + '</td>';
                row += '<td>' + row_data.tgt + '</td>';
                row += '<td>' + row_data.status + '</td>';
                var json_string = '<button onclick="emit_salt_jid(\''+ row_data.jid + '\')"  type="button" class="btn  btn-info btn-rounded btn-xs" data-toggle="modal" data-jid="'+ row_data.jid  +'" data-target="#myModal5">Click to check return result</button>';
                row += '<td>' + json_string + '</td>';
                row += '<td>' + row_data.start + '</td>';
                row += '<td>' + row_data.end + '</td>';
                row += '<td>' + row_data.arg + '</td>';
                row += '<td>' + row_data.kwargs + '</td>';
                row += '</tr>';
                //console.log(row);
                i--;
                footable_task.appendRow(row);
                 if (i > 80) {
                     setTimeout(update_salt_task_Later(data), 0);
                 }
             }
             if (Object.keys(el_data).length > 0) {
             update_salt_exec_Later(data);
                }
             update_salt_task_Later(data);
             /*
            for (var i = Object.keys(data).length -1; i--;){
                var row_data = JSON.parse(data[i]);
                var row = '<tr class="' + row_data.text + '">';
                row += '<td>' + row_data.fun + '</td>';
                row += '<td>' + row_data.jid + '</td>';
                row += '<td>' + row_data.tgt + '</td>';
                row += '<td>' + row_data.status + '</td>';
                var json_string = '<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal5">Large Modal</button>';
                row += '<td>' + json_string + '</td>';
                row += '<td>' + row_data.start + '</td>';
                row += '<td>' + row_data.end + '</td>';
                row += '<td>' + row_data.arg + '</td>';
                row += '<td>' + row_data.kwargs + '</td>';
                row += '</tr>';
                //console.log(row);
                footable_task.appendRow(row);
            }*/
            footable_task.redraw();
        };

        function update_hacklist(m){
            msg = JSON.parse(m);
            //console.log(msg);
            switch (msg.type){
                case 'info':
                var nhlvalues = [
                  { id:hlid++,emit_msg: '<i class="fa fa-sitemap"></i> ' + msg.emit_msg, emit_time: '<i class="emit_time fa fa-at"> ' + Date() + '</i>'}
                    ];
                     break;
                case 'warning':
                var nhlvalues = [
                  { id:hlid++,emit_msg: '<i class="fa fa-warning"></i> ' + msg.emit_msg, emit_time: '<i class="emit_time fa fa-at"> ' + Date() + '</i>'}
                    ];
                     break;
                case 'success':
                var nhlvalues = [
                  { id:hlid++,emit_msg: '<i class="fa fa-user"></i> ' + msg.emit_msg, emit_time: '<i class="emit_time fa fa-at"> ' + Date() + '</i>'}
                    ];
                     break;
            }
            hackerList.add(nhlvalues);
            hackerList.sort('id', { order: 'desc' });
            var listone = document.getElementById('hacker-list').getElementsByTagName('li')[0];
            switch (msg.type){
                case 'info':
                    listone.className = "animated bounceInUp info-element";
                    setTimeout(function(){
                      listone.className = "animated bounce info-element";
                         },100);
                     break;
                case 'warning':
                     listone.className = "animated bounceInUp warning-element";
                    setTimeout(function(){
                        listone.className = "animated bounce warning-element";
                           },100);
                     break;
                case 'success':
                     listone.className = "animated bounceInUp success-element";
                    setTimeout(function(){
                        listone.className = "animated bounce success-element";
                           },100);
                     break;

            };
        };

        function update_m_status(j){
                //console.log(j);

                data = JSON.parse(j);
                //console.log(data);
                var c_data = data.master;
                var m_name = c_data.name;
                var l_data = c_data.cpu;
                var m_data = c_data.mem;
                var n_data = JSON.parse(data.top);
                showdata('m_status');
                hideloading('m-loading');
                cy.load(n_data);
                document.getElementById('master').innerHTML = 'Master Name :' + m_name;
                document.getElementById('monitor_date').innerHTML = 'Last Update:' + Date();
                var lineData = {
                  labels:  l_data[1],
                  datasets: [
                       {
                           label: "CPU",
                           backgroundColor: "rgba(220,220,220,0.5)",
                           borderColor: "rgba(220,220,220,1)",
                           pointBorderColor: "rgba(220,220,220,1)",
                           pointBackgroundColor:"#fff",
                           pointHoverBackgroundColor:  "#fff",
                           pointHoverBorderColor:"rgba(220,220,220,1)",
                           data: l_data[0]
                       },
                       {
                           label: "MEM",
                           backgroundColor: "rgba(26,179,148,0.5)",
                           borderColor: "rgba(26,179,148,0.7)",
                           pointBorderColor: "rgba(26,179,148,1)",
                           pointBackgroundColor:"#fff",
                           pointHoverBackgroundColor:  "#fff",
                           pointHoverBorderColor:"rgba(26,179,148,1)",
                           data: m_data[0]
                       }
                   ]
               };

               var lineOptions = {
                   showLine: true,
                   scaleShowGridLines: true,
                   scaleGridLineColor: "rgba(0,0,0,.05)",
                   scaleGridLineWidth: 1,
                   bezierCurve: true,
                   bezierCurveTension: 0.4,
                   pointDot: true,
                   pointDotRadius: 4,
                   pointDotStrokeWidth: 1,
                   pointHitDetectionRadius: 20,
                   datasetStroke: true,
                   datasetStrokeWidth: 2,
                   datasetFill: true,
                   responsive: true,
               };


               var ctx = document.getElementById("lineChart").getContext("2d");
               ///var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
               var myLineChart = new Chart(ctx, {
                        type: 'line',
                        data: lineData,
                        options: lineOptions
                    });




            };

           var cy =  cytoscape({                        
                           container: document.getElementById('cy'),
                           boxSelectionEnabled: false,
                           autounselectify: true,
                           layout: {
                               name: 'random'
                           },
                           minZoom: 0.3,
                           maxZoom: 3,
                           wheelSensitivity: 0.8,
                           style: [
                               {
                                   selector: 'node',
                                   style: {
                                       'content': 'data(id)',
                                       'text-opacity': 0.5,
                                       'text-valign': 'center',
                                       'text-halign': 'right',
                                       'background-color': '#11479e'
                                   }
                               },
                               {
                                   selector: 'edge',
                                   style: {
                                       'width': 4,
                                       'target-arrow-shape': 'triangle',
                                       'line-color': '#9dbaea',
                                       'target-arrow-color': '#9dbaea',
                                       'curve-style': 'bezier'
                                   }
                               }
                           ]
                        
                        });
                var hlid = 0;
                var hloptions = {
                  valueNames: [ 'emit_msg', 'emit_time',{ data: ['id'] } ],
                 item: '<li data-id="1" class=" animated bounceInUp " ><p class="emit_msg"></p><div  class="agile-detail emit_time"></div></li>',
                 page:6,
                 plugins: [
                       ListPagination({})
                     ]
                };
                //warning-element info-element success-element
                /*var hlvalues = [
                  { id:hlid++,emit_msg: 'System initialization completed', emit_time: '<i class="fa fa-warning"> ' + Date() + '</i>'}
                ];*/  
                var hackerList = new List('hacker-list', hloptions); 
                /*hackerList.on('sortComplete',function(){
                  //  console.log('sort completed.');
                });*/
                /*
               $('#hacker-list').click(function() {
                hackerList.add([{ id:hlid++,emit_msg: '<i class="fa fa-warning"></i> System initialization completed', emit_time: '<i class="fa fa-warning"> ' + Date() + '</i>'}]);  
                hackerList.sort('id', { order: 'desc' });
                document.getElementById('hacker-list').getElementsByTagName('li')[0].className = "animated bounceInUp warning-element";
                setTimeout(function(){
                 document.getElementById('hacker-list').getElementsByTagName('li')[0].className = "animated bounce warning-element";
                }
                    , 100);

                });
                   */
                ///fa-warning fa-wrench fa-user fa-sitemap



            //$('.footable').footable();
            var footable = $('.footable').footable().data('footable');
            $('#search1').change(function (e) {
                 e.preventDefault();
                 $('.footable').trigger('footable_filter', {filter: $('#search1').val()});
               });
            var footable_task = $('.footable2').footable().data('footable');
/*
     
    
            $('.footable').footable().bind({
                  'footable_filtering' : function(e) {
                        
                        $('#animation_table').removeAttr('class').attr('class', '');
                        //$('#animation_table').addClass('animated');
                        //$('#animation_table').addClass('shake');
                        return ;
                  },

                  'footable_filtered' : function(e) {
                        
                        
                        $('#animation_table').removeAttr('class').attr('class', '');
                        $('#animation_table').addClass('animated');
                        $('#animation_table').addClass('flipInX');
                        
                        return;              
                  },
            });

            $('#search_btn1').click(function (e) {
                                e.preventDefault();
                            
                                //get the footable filter object
                                var footableFilter = $('.footable').data('footable-filter');
                            
                                
                                //filter by 'tech'
                                var search_text = $('#search1').val();
                                
                                footableFilter.filter(search_text);
                            
                            });
*/

            /*$('.footable2').footable();

            $('.footable2').footable().bind({
                  'footable_filtering' : function(e) {
                        
                        $('#animation_table2').removeAttr('class').attr('class', '');
                        //$('#animation_table').addClass('animated');
                        //$('#animation_table').addClass('shake');
                        return ;
                  },

                  'footable_filtered' : function(e) {
                        
                        $('#animation_table2').removeAttr('class').attr('class', '');
                        $('#animation_table2').addClass('animated');
                        $('#animation_table2').addClass('flipInY');
                        
                        return;              
                  },
            });

             $('#search_btn2').click(function (e) {
                                e.preventDefault();
                            
                                //get the footable filter object
                                var footableFilter = $('.footable2').data('footable-filter');
                            
                                
                                //filter by 'tech'
                                var search_text = $('#search2').val();
                                
                                footableFilter.filter(search_text);
                            
                            });*/

        });
        

           
    </script>
    {% endblock %}